<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Change password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

<!-- Modal Background -->
<div class="fixed inset-0 z-50">
    <!-- Background -->
    <div class="absolute inset-0 z-0">
        <img src="/uploads/backgroup_for_candidate_info.jpg" alt="bg"
             class="w-full h-full object-cover opacity-40" />
        <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm"></div>
    </div>

    <!-- Modal -->
    <div class="absolute inset-0 z-20 flex items-center justify-center px-4">
        <div class="w-full max-w-2xl bg-white rounded-xl p-8 shadow-xl space-y-6 max-h-[680px] overflow-y-auto">
            <h2 class="text-2xl font-bold text-gray-800">Change Password</h2>

            <form th:action="@{/home/change-password}" method="post" th:object="${changePasswordDTO}" class="space-y-6">
                <input type="hidden" th:field="*{accountId}" />
                <!-- Name -->
                <div>
                    <label class="block text-sm font-semibold">Old Password *</label>
                    <input type="password" th:field="*{oldPassword}" class="w-full border rounded px-4 py-2 outline-none focus:ring-2 focus:ring-red-500" />
                    <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="mt-1 text-sm text-red-600"></p>
                </div>

                <div>
                    <label class="block text-sm font-semibold">New Password *</label>
                    <input type="password" th:field="*{newPassword}" class="w-full border rounded px-4 py-2 outline-none focus:ring-2 focus:ring-red-500" />
                    <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="mt-1 text-sm text-red-600"></p>
                </div>

                <div>
                    <label class="block text-sm font-semibold">Confirm New Password *</label>
                    <input type="password" th:field="*{confirmNewPassword}" class="w-full border rounded px-4 py-2 outline-none focus:ring-2 focus:ring-red-500" />
                    <p th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}" class="mt-1 text-sm text-red-600"></p>
                </div>


                <!-- Buttons -->
                <div class="flex justify-end gap-4 pt-2">
                    <a th:href="@{/home/profile}" class="bg-gray-200 px-4 py-2 rounded hover:bg-gray-300">Cancel</a>
                    <button type="submit" class="bg-[#ab1f24] px-4 py-2 text-white font-semibold rounded hover:bg-red-700">
                        Save
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Scrollbar custom -->
<style>
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ab1f24;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #86191e;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: #ab1f24 #f1f1f1;
    }
</style>

</body>
</html>
