<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Update Personal Info</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

<!-- Modal Background -->
<div class="fixed inset-0 z-50">
    <!-- Background -->
    <div class="absolute inset-0 z-0">
        <img src="/uploads/backgroup_for_candidate_info.jpg" alt="bg"
             class="w-full h-full object-cover opacity-40" />
        <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm"></div>
    </div>

    <!-- Modal -->
    <div class="absolute inset-0 z-20 flex items-center justify-center px-4">
        <div class="w-full max-w-2xl bg-white rounded-xl p-8 shadow-xl space-y-6 max-h-[680px] overflow-y-auto">
            <h2 class="text-2xl font-bold text-gray-800">Change Information</h2>

            <form th:action="@{/home/edit-profile}" method="post" th:object="${updateDTO}" enctype="multipart/form-data" class="space-y-6">

                <input type="hidden" th:field="*{id}" />
                <div class="grid grid-cols-2 gap-4">
                    <!-- Name -->
                    <div>
                        <label class="block text-sm font-semibold">Name *</label>
                        <input type="text" th:field="*{name}" class="w-full border rounded px-4 py-2 outline-none focus:ring-2 focus:ring-red-500" />
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="mt-1 text-sm text-red-600"></p>
                    </div>
                    <!-- Email -->
                    <div>
                        <label class="block text-sm font-semibold">Email *</label>
                        <input type="email" th:field="*{email}" class="w-full border rounded px-4 py-2 outline-none focus:ring-2 focus:ring-red-500" />
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="mt-1 text-sm text-red-600"></p>
                    </div>

                    <!-- gender -->
                    <div>
                        <label class="block text-sm font-semibold">Gender *</label>
                        <select  th:field="*{gender}" class="w-full border rounded px-4 py-2 outline-none focus:ring-2 focus:ring-red-500" >
                            <option value="MALE">MALE</option>
                            <option value="FEMALE">FEMALE</option>
                            <option value="OTHER">OTHER</option>
                        </select>
                        <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="mt-1 text-sm text-red-600"></p>
                    </div>
                    <!-- Experience -->
                    <div>
                        <label class="block text-sm font-semibold">Experience *</label>
                        <input type="number" min="0" th:field="*{experience}" class="w-full border rounded px-4 py-2 outline-none focus:ring-2 focus:ring-red-500" />
                        <p th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}" class="mt-1 text-sm text-red-600"></p>
                    </div>

                    <!-- Date of Birth -->
                    <div>
                        <label class="block text-sm font-semibold">Date Of Birth *</label>
                        <input type="date" th:field="*{dob}" class="w-full border rounded px-4 py-2 outline-none focus:ring-2 focus:ring-red-500" />
                        <p th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" class="mt-1 text-sm text-red-600"></p>
                    </div>

                    <!-- Description -->
                    <div class="row-span-2">
                        <label class="block text-sm font-semibold">Description *</label>
                        <textarea th:field="*{description}" rows="5" class="w-full h-[390px]    border rounded px-4 py-2 outline-none resize-none focus:ring-2 focus:ring-red-500"></textarea>
                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="mt-1 text-sm text-red-600"></p>
                    </div>

                    <div>
                        <!-- Upload Image -->
                        <div>
                            <label class="block font-semibold text-sm mb-2">Upload Image</label>
                            <input type="file" th:field="*{file}" accept="image/*"
                                   class="w-full text-sm file:mr-4 file:rounded-md file:border-transparent file:bg-red-50 file:px-4 file:py-2 file:text-sm file:font-semibold file:text-red-700 hover:file:bg-red-100 mb-2"
                                   onchange="previewImage(event)"/>
                            <p th:if="${#fields.hasErrors('file')}" th:errors="*{file}" class="text-sm text-red-600 mt-1"></p>
                        </div>

                        <!-- Preview (cũ hoặc mới) -->
                        <div id="previewContainer" th:if="*{avatar != null}">
                            <img id="imagePreview" th:src="@{'/uploads/' + *{avatar}}" class="w-full max-h-60 rounded border object-contain"/>
                        </div>
                    </div>


                </div>


                <!-- Technologies -->
                <input type="hidden" name="technologyIds" value=""/>
                <div>
                    <label class="block text-sm font-semibold">Technology *</label>
                    <div class="flex flex-wrap gap-2 mt-2">
                        <div th:each="tech : ${techList}">
                            <label class="cursor-pointer">
                                <input type="checkbox" class="peer hidden" th:field="*{technologyIds}" th:value="${tech.id}" />
                                <span class="inline-block bg-gray-100 text-gray-700 border border-gray-300
                         rounded-full px-3 py-1 text-sm font-medium
                         peer-checked:bg-yellow-50 peer-checked:text-yellow-800 peer-checked:border-yellow-300
                         transition-colors duration-150">
                        <span th:text="${tech.name}"></span>
                    </span>
                            </label>
                        </div>
                    </div>
                    <p th:if="${#fields.hasErrors('technologyIds')}" th:errors="*{technologyIds}" class="mt-1 text-sm text-red-600"></p>
                </div>

                <!-- Buttons -->
                <div class="flex justify-end gap-4 pt-2">
                    <a th:href="@{/home/profile}" class="bg-gray-200 px-4 py-2 rounded hover:bg-gray-300">Cancel</a>
                    <button type="submit" class="bg-[#ab1f24] px-4 py-2 text-white font-semibold rounded hover:bg-red-700">
                        Save
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById("imagePreview");
        const container = document.getElementById("previewContainer");

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                container.classList.remove("hidden");
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<!-- Scrollbar custom -->
<style>
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ab1f24;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #86191e;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: #ab1f24 #f1f1f1;
    }
</style>

</body>
</html>
